body {
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin: 0;
  background: linear-gradient(to right, #56ab2f, #a8e063);
  color: black;
  overflow: auto;
  font-size: large;
}

#rps-game {
  width: 80%;
  max-width: 600px;
  margin: 25px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center the game content */
}
/* styling for buttons */
#choices button {
  padding: 15px 25px;
  background-color: #88f693;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin: 10px;
  transition: background-color 0.3s;
}
#choices img {
  width: 20px;
  height: auto;
}

#choices button:hover,
#choices button:focus {
  background-color: #a3eaf8;
  cursor: pointer;
  text-decoration: underline;
}
/* styling for results section */
#result {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

/* styling for score board*/
#scoreboard {
  margin-top: 20px;
  font-size: 20px;
}

#player-score,
#computer-score {
  margin: 10px;
}
/* styling for round display */
#game-info {
  text-align: center;
  margin-bottom: 20px;
}

#round {
  font-size: 20px;
  margin: 10px 0;
}
.htp {
  text-align: center;
}
.htp table,
td {
  border: 1px solid black;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
tr:hover {
  background-color: #d6eeee;
}
.footer {
  display: flex;
  margin: 0;
  width: 100%;
  border-top: 2px solid #333;
  padding: 0;
}
.footer a {
  font-size: small;
  float: left;
  margin: 5px;
}
.footer a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
.footer a:visited {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}
.footer a:hover {
  color: #d6eeee;
  background-color: transparent;
  text-decoration: underline;
}
.footer a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
.copy {
  float: right;
  font-size: small;
  margin: 5px;
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  body {
    height: fit-content;
    margin-top: 10px;
    display: block;
  }
  .footer {
    display: block;
  }
}
